/* <-------  HERO SECTIONS  -------> */
.page-heading {
    font-weight: var(--fw-400);
}

.hero__image {
    transform: translateY(2em);
    @include respond(tab-port) {
        padding: 0;
    }
}

/* <-------  ONE STEP AWAY SECTIONS  -------> */
.cta.bg-accent {
    background-image: url(../../../public/assets/cta-bg-1.jpg);
    background-blend-mode: multiply;
}

/* <-------  TESTIMONIALS SECTIONS  -------> */
.testimonial {
    padding: 2rem;
    line-height: 2;

    &__text {
        max-width: 260px;
    }

    &__name {
        color: var(--custom-color, var(--primary-400));
        font-weight: 700;
        line-height: 1;
    }
}

/* <-------  STEP UP SECTIONS  -------> */
.cta.bg-light {
    background-image: url(../../../public/assets/cta-bg-2.jpg);
}
